/* 
-- google font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* 
-- global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

::selection {
  background-color: red;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #141414;
  color: white;
}
